= require 'pry'; binding.pry
%h1 Quote
=form_for @quote do |f|
  %p
    = f.label 'quantity'
    = f.text_field 'quantity'
  %p
    = f.label 'Number of colors'
    = f.select(:number_of_colors, options_for_select(color_options))

  .submit
    = f.submit

