%h1 Listing printers
%h2
  Quantity
  =@quote.quantity
%h2
  Number of colors
  =@quote.number_of_colors

%h2 Printers
- if @prices.empty?
  %h1 Sorry, no printers match.
  %h2= link_to "Try again!", new_quote_path
-else
  %table
    %tr
      %th Name
      %th Price
      %th City
      %th
    - @prices.each do |price|
      %tr
        %td= price.printer.shop_name
        %td
          $
          \.
          = price.send(@quote.number_of_colors)
        %td= price.printer.city.name
        %td= link_to 'Select printer', new_printer_garment_selector_path(price.printer)