%h1 New Printer Feature
= form_for [:printer, @feature] do |f|

  = f.hidden_field :printer_id, value: @printer.id

  .field
    = f.check_box :free_shipping
    = f.label :free_shipping
  .field
    = f.check_box :digital_proof
    = f.label :digital_proof
  .field
    = f.check_box :hotline
    = f.label :hotline
  .field
    = f.check_box :art_team
    = f.label :art_team
  .field
    = f.check_box :sample
    = f.label :sample
  .field
    = f.check_box :drop_ship
    = f.label :drop_ship
  .field
    = f.submit