.footer
  %ul
    %li= link_to 'Home', root_path
    %li= link_to 'New quote', new_quote_path
    %li= link_to 'All cities', cities_path
    %li= mail_to 'dave@screenprintly.com', 'Contact'
    %li= render '/layouts/shared/clearance'