.footer
  %ul
    %li= link_to 'New quote', new_quote_path
    %li= link_to 'All cities', cities_path
    %li= link_to 'All printers', printers_path
    %li= link_to 'List your shop', new_printer_path
    %li= link_to 'Request your city', new_city_path
    %li= mail_to 'dave@screenprintly.com', 'Contact'
    %li= render '/layouts/shared/clearance'