%h1 Listing Garments
.table-header
  %h2.ink-type Inventory
  .button= link_to "New Garment", new_garment_price_path
%table
  %tr
    %th Brand
    %th Style Number
    %th Price
    %th Fabric
    %th Cut
    %th Quality
    %th Colors
    %th Inventory Levels
    %th Printer

  - @garment_prices.each do |price|
    %tr
      %td= price.brand
      %td= price.style_number
      %td= price.price
      %td= price.fabric
      %td= price.cut
      %td= price.quality
      %td= price.colors
      %td= price.inventory
      %td= price.printer.shop_name
