%h1 Pick your t-shirt
= form_for [:printer, @garment_selector] do |f|
  = f.hidden_field :printer_id, value: @printer.id
  .shirt-row
    - unless @budget_max.nil?
      .shirt-section
        = image_tag 'budget.png'
        %h1= f.label(:budget_shirt, 'Budget')
        %h2
          $
          = @budget_max.price
          each
        %h3 Features
        %ul
          %li Awesome

        %h4 Examples
        %ul
        - @budget.each do |sku|
          %li
            = sku.brand
            \|
            = sku.style_number
        = f.radio_button(:short_sleeve_tshirt, 'budget')

    - unless @brand_max.nil?
      .shirt-section
        = image_tag 'brand.png'
        %h1= f.label(:brand_shirt, 'Brand')
        %h2
          $
          = @brand_max.price
          each
        %h3 Features
        %ul
          %li Recommended

        %h4 Examples
        %ul
        - @brand.each do |sku|
          %li
            = sku.brand
            \|
            = sku.style_number
        = f.radio_button(:short_sleeve_tshirt, 'brand')

    - unless @boutique_max.nil?
      .shirt-section
        = image_tag 'boutique.png'
        %h1= f.label(:boutique_shirt, 'Boutique')
        %h2
          $
          = @boutique_max.price
          each

        %h3 Features
        %ul
          %li Hope so!

        %h4 Examples
        %ul
        - @boutique.each do |sku|
          %li
            = sku.brand
            \|
            = sku.style_number
        = f.radio_button(:short_sleeve_tshirt, 'boutique')
  =f.label "Additional comments"
  =f.text_area :comment, :cols => "20", :rows => "8", placeholder: "Any garment specifics you'd like #{@printer.shop_name} to know about."
  =f.submit "Proceed to Printer Page"