%h1= @printer.shop_name

%p
  City:
  = @printer.city.name
%p
  Address:
  = @printer.address
%p
  Contact Name:
  = @printer.contact_name
%p
  Phone:
  = @printer.phone
%p
  Email:
  = mail_to @printer.email

