%h1= @printer.shop_name

%p
  City:
  = @printer.city.name
%p
  Address:
  = @printer.address
%p
  Contact Name:
  = @printer.contact_name
%p
  Phone:
  = @printer.phone
%p
  Email:
  = mail_to @printer.email

.button=link_to 'Add a price tier', new_printer_print_price_path(@printer)
.button=link_to 'Add a garment',    new_garment_price_path
= render 'print_price_lists'