%h1 Review your Order

%h2 Printer
%h3= @printer.shop_name

%h2 Garment Category
%h3= @garment.short_sleeve_tshirt

%h2 Garment Price
%h3= @garment.garment_price

%h2 Print Price


%h2 Quantity
%h3= @quote.quantity

%h2 Number of colors
%h3= @quote.number_of_colors


%h2 Total
%p