%h1 Review your Order


%h2
  = @quote.quantity
  ,
  = colors_to_english(@quote.number_of_colors)
  = @garment.short_sleeve_tshirt
  t-shirts through
  = @printer.shop_name
  in
  = @printer.city.name

.total-price
  %h2
    Total Invoice (Pre-shipping):
    .output= total_order(@quote.quantity.to_i, @print_price.to_i, @garment.garment_price.to_i)

    %h2
      Price per shirt
      .output= price_per_shirt(total_order(@quote.quantity.to_i, @print_price.to_i, @garment.garment_price.to_i), @quote.quantity)

= form_for [:printer, :garment_selector, @confirmation] do |f|
  = f.submit 'Submit order'