!!!
%html
  %head
    = display_meta_tags
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %script{:src => "http://use.typekit.net/iyd5ccb.js", :type => "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}
  %body
    .container
      .clearance= render '/layouts/shared/clearance'
      = render '/layouts/shared/header'
      .printer-nav
        %ul
          %li= link_to 'Edit info', edit_printer_path(@printer)
          %li= link_to 'Add a price tier', new_printer_print_price_path(@printer)
          %li= link_to 'Add a feature',    new_printer_printer_feature_path(@printer)
          %li= link_to 'Add a garment',    new_printer_garment_price_path(@printer)
          %li= link_to 'Add a finishing service',  new_printer_finishing_service_path(@printer)

      .printer-sheet
        = yield
      = render '/layouts/shared/footer'
    = render '/layouts/shared/analytics'

